<h1>Long Term Planner!</h1>

<% if @new_balance %>
  <div>
    <h2>New Balance!</h2>
    <div><%= number_to_currency @new_balance %></div>
  </div>
<% end %>

<p>
Calculates the 90 / 70 of the next year given the following:
</p>

<%= form_tag "/long_term_planner/next_year", :method => :get do %>
  <h2>Starting Points</h2>
  <div>Balance: <%= text_field_tag :balance %></div>
  <div>Contributions: <%= text_field_tag :contributions %></div>
  <div>Withdrawls: <%= text_field_tag :withdraws %></div>

  <h2>Investment</h2>
  <p>1 investment, 100% allocation</p>
  <div>Yield: <%= text_field_tag "investment[annual_yield]", "0.0513" %></div>
  <div>Std Dev: <%= text_field_tag "investment[std_dev]", "10.00" %></div>

  <h2>Inflation</h2>
  <div>Yield: <%= text_field_tag "inflation[annual_yield]", "0.025" %></div>
  <div>Std Dev: <%= text_field_tag "inflation[std_dev]", "4.56" %></div>

  <br/>
  <br/>

  <div>
    <%= submit_tag "Calculate!" %>
  </div>
<% end %>
