<h1>Long Term Planner!</h1>

<% if @planner_results %>
  <div>
    <h2>Calculated values</h2>
    <div>90%: <%= number_to_currency @planner_results.top_90 %></div>
    <div>70%: <%= number_to_currency @planner_results.top_70 %></div>
    <div>Average: <%= number_to_currency @planner_results.average %></div>
  </div>
<% end %>

<p>
Calculates the 90 / 70 of the next year given the following:
</p>

<%= form_tag "/long_term_planner/next_year", :method => :get do %>
  <h2>Starting Points</h2>
  <div>Balance: <%= text_field_tag :balance %></div>
  <div>Contributions: <%= text_field_tag :contributions %></div>
  <div>Withdrawls: <%= text_field_tag :withdraws %></div>

  <h2>Investment</h2>
  <p>1 investment, 100% allocation</p>
  <div>Yield: <%= text_field_tag "investment[annual_yield]", "0.0513" %></div>
  <div>Std Dev: <%= text_field_tag "investment[std_dev]", "10.00" %></div>

  <h2>Inflation</h2>
  <div>Yield: <%= text_field_tag "inflation[annual_yield]", "0.025" %></div>
  <div>Std Dev: <%= text_field_tag "inflation[std_dev]", "4.56" %></div>

  <br/>
  <br/>

  <div>
    <%= submit_tag "Calculate!" %>
  </div>
<% end %>

<hr/>
<hr/>

<p>
Calculates the 90 / 70 over the next N years of the following:
</p>

<%= form_tag "/long_term_planner/over_time", :method => :get do %>
  <h2>Starting Points</h2>
  <div>Balance: <%= text_field_tag :balance %></div>
  <div>Contributions: <%= text_field_tag :contributions %></div>
  <div>Withdraws: <%= text_field_tag :withdraws %></div>

  <h2>Time Frame</h2>
  <div>Years starting now: <%= text_field_tag :years_to_calculate, 1 %></div>

  <h2>Thresholds</h2>
  <div>Contributions end after (year from start): <%= text_field_tag :stop_contributions_after_year %></div>
  <div>Withdraws start after (year from start): <%= text_field_tag :withdraw_after_year %></div>

  <h2>Investment</h2>
  <p>1 investment, 100% allocation</p>
  <div>Yield: <%= text_field_tag "investment[annual_yield]", "0.0513" %></div>
  <div>Std Dev: <%= text_field_tag "investment[std_dev]", "10.00" %></div>

  <h2>Inflation</h2>
  <div>Yield: <%= text_field_tag "inflation[annual_yield]", "0.025" %></div>
  <div>Std Dev: <%= text_field_tag "inflation[std_dev]", "4.56" %></div>

  <br/>
  <br/>

  <div>
    <%= submit_tag "Calculate!" %>
  </div>
<% end %>

