<h1>Results</h1>

<%= link_to "Go Back", "/long_term_planner" %>

<h1>Pretty Graphs!</h1>
<div id="chart">
</div>

<table>
  <tr>
    <th>Year</th>
    <th>Average</th>
    <th>70%</th>
    <th>90%</th>
  </tr>
  <% @planner_results.each_with_index do |results, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= number_to_currency results.average %></td>
      <td><%= number_to_currency results.top_70 %></td>
      <td><%= number_to_currency results.top_90 %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Go Back", "/long_term_planner" %>

<%= javascript_tag do %>
  $(function() {
    var graph = new LongTermPlanner("#chart");
    graph.addLine(<%=raw @planner_results.map(&:average).to_json %>, "#f00");
    graph.addLine(<%=raw @planner_results.map(&:top_70).to_json %>,  "#0f0");
    graph.addLine(<%=raw @planner_results.map(&:top_90).to_json %>,  "#00f");
    graph.draw();
  });
<% end %>
